{% extends 'base.html' %}

{% block title%}
Simple Web Notes
{% endblock %}

{% block body%}
<div class="news-block center">
  <div class="note news">
      <h2>Добро пожаловать на Simple Web Notes!</h2>
      <p>Здесь вы можете оставить свои мысли, идеи и напоминания</p>
  </div>
  <div class="note news">
    <h2>Новый дизайн!</h2>
    <p>Обратите внимание на новый интерфейс</p>
</div>
<div class="note news">
  <h2>Следите за новостями на главной</h2>
  <p>А также ставьте звезды репозиторию на GitHub</p>
</div>
</div>
{% endblock %}